@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #9F19AB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001a27;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Vazir';
  src: url('../../fonts//vazir-font-v16.1.0/Vazir-Light.ttf');
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: 'Vazir';
  box-sizing: border-box;
}